
.wrapper {
  background: white no-repeat center;
  background-size: cover;
}
.h80{
  height: 80%;
}
.h100{
  height: 100%;
}
.decoration{
text-decoration: none;
color: black;
}

.phone {
  background: url("/images/mbg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.phone {
  width: 400px;
  height: 800px;
}

.phone::-webkit-scrollbar {
  display: none;
}

.notification {
  background-color: rgba(17, 16, 16, 0.8);
  backdrop-filter: blur(20px);
  
}

.sliderContainer {
  align-self: center;
  width: 90%;
  top: 50px;
  background-color: rgba(246, 231, 231, 0.1);
  backdrop-filter: blur(20px);
}

.slider {
  appearance: none;
  z-index: 99;
  background-color: transparent;
  height: 70px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  
  background: url("/images/right.gif") no-repeat center;
  background-size: cover;
}
/* .slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: url("/images/right.gif") no-repeat center;
  background-size: cover;
} */

.slider-label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* pointer-events: none; */
}
.time-css{
height: 80%;
}
.time-css-lock{
font-size: 60px;
}
#appScreen{
  backdrop-filter: blur(10px);
}
.searchIcon{
  top: 15px;
  right: 20px;
}

#contactListScreen{
  /* display: none; */
}